/.ProjectDslDescriptionLabelProvider.java._trace
/.ProjectDslDescriptionLabelProvider.xtendbin
/.ProjectDslLabelProvider.java._trace
/.ProjectDslLabelProvider.xtendbin
/ProjectDslDescriptionLabelProvider.java
/ProjectDslLabelProvider.java
